@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'press start 2P';
}
body{
    background-color: black;
    color: white;
}
header div{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header div .again{
    font-size: 50px;
    margin: 30px;
    padding: 20px;
}
header div p{
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 50px;
}
header{
    border-bottom:10px solid white ;
}
.number{
    font-size: 70px;
    background-color:blueviolet;
    width:90px;
    padding: 20px ;
    position: relative;
    left: 40%;
    top:60px;
    justify-content: center;
}
main{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
}
.guess{
    padding: 20px;
    width: 180px;
    font-size: 50px;
    background-color: black;
    color: white;
    border: 1px solid white;
    text-align: center;
    display: block;
}
.checkBtn{
    font-size: 30px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
}
